*{
	margin: 0;
	padding: 0;
	
	font-family: Georama, sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}

nav{
	padding:  1.8rem; 
	margin-bottom: 2rem; 
	border-bottom: 10px solid gray;
	background-color: #140601;
	background-color: whitesmoke;
	font-size: 1.5rem;
}

.nav-bold {
	font-weight: Bold ;
	font-size: 1.75rem ;
}

nav .nav, nav .nav-bold {
	margin: 0.5 rem;
	display: inline;

}

section h1 {
	padding: 1.5rem;
	font-size: 3rem;
	text-align: center;

}
section p {
	padding-top: .5	rem;
	padding-bottom: 1.5rem;
	font-size: 1.5rem;
	text-align: center;

}

#intro	{
	background-color: #AFFD7F;
	text-align: center;
	padding-bottom: 5rem;
}

#intro button {
	color: black;
	/* font-weight allows us to determine the thickness of the text */
	font-weight: bold;
	background-color: white;
	border-radius: 250px;
	font-size: 1.5rem;
	padding: 1rem;
	text-align: center;
	
}

